<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
</head>
<body>
    <style>
        input{
            margin: 10px;
        }
    </style>
    <form action="./add" method="POST" enctype="multipart/form-data" >
        <input type="text" name="txtName" value=""  placeholder="Tên"/><br>
        <input type="file" name='marvelImage'/><br>
        <input type="text" name="txtLevel" placeholder="Level"/><br>
        <input type="submit" value="Thêm mới"/>
    </form>
 
</body>
</html>